body{
    background-color:rgb(241, 241, 241);
    font-size: 87.5%;  /*14px normal size*/
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: left;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #aa5832;
}
a:hover, a:active{
color: #daa890;
}
.body{
    margin: 0 auto;
    width: 80%;
    clear: both;
}
#bloggName{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 2% 0;
}
.mainHeader nav{
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;

}
.mainHeader ul li {
    float: left;
    display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 10px 25px ;
    height: 20px;
    
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
    background-color: #aa5832;
    text-shadow: none;
}
.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainContent{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content {
    width: 75%;
    float: left;
}
.topContent{
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}
.bottomContent{
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}
.post-info{
    font-style: italic;
    color: #999;
    font-size: 90%;
}
.top-sidebar{
    width: 22%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 0 2%;
    padding: 5px;

}
.middle-sidebar{
    width: 22%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 0 2%;
    padding: 5px;
}
.bottom-sidebar{
    width: 22%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0% 0 2%;
    padding: 5px;
}
.mainFooter{
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    margin: 2% 0;
}
.mainFooter ul{
    list-style: none;
    margin: auto;   
}
.mainFooter ul li{
    float:left;
    display: inline;
}
.mainFooter a:link, .mainFooter a:visited {
    color:rgb(245, 245, 245);
    display: inline-block;
    padding: 5px;
    margin: 10px;
}
.mainFooter a:hover, .mainFooter a:active{
    color: blue;
    text-shadow: none;
}
@media only screen and (min-width: 150px) and (max-width:600px)
{
    .body{
        width: 90%;
        font-size: 95%;
    }
    .mainHeader nav{
        height: 160px;
    }
    .mainHeader nav ul {
        padding-left: 0;
    }
    .mainHeader ul li {
        width: 100%;
        text-align: center;
    }
    .mainHeader nav a:link, .mainHeader nav a:visited {
        padding: 10px 25px ;
        height: 20px;  
        display: block;
    }
    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }
    .post-info{
        display: none;
    }
    .top-sidebar, .middle-sidebar{
        width: 94%;
        text-align: center;
        margin-top: 5%;
    }
    .bottom-sidebar{
        width: 94%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}